.h-center {
  display: flex;
  align-items: center;
}

.v-center {
  display: flex;
  justify-content: center;
}

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-align-center, .page-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-center, .page-2, .page-3, .page-4, .page-5, .page-6, .page-7, .page-8, .page-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
}

.page .filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center 20%;
  filter: blur(20px);
  opacity: 0.5;
  z-index: -1;
}

.page .page-boxs {
  width: 100%;
  height: 100%;
}

.page-1 {
  display: flex !important;
}

.page-1 span {
  color: #ff00ff;
  font-size: 100px;
  margin-top: 20px;
}

.page-1 span:last-of-type {
  font-size: 0.32rem;
  margin-top: 0;
}

.page-1 .filter {
  background-image: url(../assets/20180406153029_636f1a3665c9e1c894d8fe343fe9a8e9_21.gif);
  background-repeat: repeat;
}

.page-1 img {
  margin: 20px auto 10px;
  display: block;
  width: 100%;
}

.page-1 img:last-of-type {
  margin-top: 10px;
  width: 80%;
}

.page-2 {
  display: flex !important;
}

.page-2 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-2 img:nth-of-type(2) {
  margin: 20px 0;
}

.page-2 .filter {
  background-image: url(https://6d61-magic-d13079-1255581239.tcb.qcloud.la/330.jpg?sign=832950a9b929393ce05804a113a70b0f&t=1542688956);
}

.page-3 {
  display: flex !important;
  color: #fff;
}

.page-3 .filter {
  background-image: url(../assets/486588782386983111.jpg);
}

.page-3 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-4 {
  display: flex !important;
  color: #fff;
}

.page-4 .filter {
  background-image: url(../assets/362458738353902347.jpg);
}

.page-4 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-5 {
  display: flex !important;
  color: #fff;
}

.page-5 .filter {
  background-image: url(../assets/375726187900958593.jpg);
}

.page-5 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-6 {
  display: flex !important;
  color: #fff;
}

.page-6 .filter {
  background-image: url(../assets/1a1fde891ab21dbc1985c60c3df90e1.jpg);
}

.page-6 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-7 {
  display: flex !important;
  color: #fff;
}

.page-7 .filter {
  background-image: url(../assets/b3648329a6b85c493414cc0a855b23a.jpg);
}

.page-7 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-8 {
  display: flex !important;
  color: #fff;
}

.page-8 .filter {
  background-image: url(../assets/8.jpg);
}

.page-8 img {
  display: block;
  width: 80%;
  opacity: 0;
}

.page-9 {
  display: flex !important;
  color: #fff;
}

.page-9 .filter {
  background-image: url(../assets/9.jpg);
}

.page-9 img {
  display: block;
  width: 80%;
  opacity: 0;
}
